<mat-card>
    <mat-card-title>
        Title-Film
    </mat-card-title>
    <mat-card-subtitle>
        <h2>{{listFilms.length}} Filmes Encontrados</h2>
    </mat-card-subtitle>
    <mat-card-content>
        <app-card-films></app-card-films>
    </mat-card-content>
    <div class="fab-button">
        <button mat-fab color="primary" matBadge="{{toggleCount()}}" matBadgePosition="after" matBadgeColor="accent"
        [matBadgeHidden]="hidden" (mouseover)="toggleBadgeVisibility()" (mouseout)="toggleBadgeVisibility()"
        (click)="toCheckout()">
        <i class="material-icons">shopping_cart</i>
        <p class="btn-description">Vá para checkout</p>
        </button>
    </div>
</mat-card>