<mat-card class="mat-card-main mat-elevation-z4">
    <mat-card-title>
        <h2>Checkout</h2>
    </mat-card-title>
    <mat-card>
        <h2>{{listSelectedFilms.length}} itens selecionados</h2>
        <h3>Preço Total: {{totalPrice | currency: "BRL"}}</h3>
        <mat-card class="mat-card-films" [class.isValid]="disabled === true" *ngFor="let film of listSelectedFilms">
            <mat-card-content class="mat-card-content">
                <div>
                    <mat-card-title>
                        <h2>{{film.name}}</h2>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{film.price | currency: "BRL"}}
                    </mat-card-subtitle>
                </div>
                <button mat-flat-button color="warn" (click)="exclude(film)">
                    Excluir
                </button>
            </mat-card-content>
        </mat-card>
    </mat-card>
    <mat-card-actions class="actions-container">
        <button mat-flat-button color="warn" (click)="excludeAll()" 
        [disabled]="disabled === true" class="excludeAll">Excluir Tudo</button>
    </mat-card-actions>
    <mat-card class="mat-form">
        <form id="form">
            <strong>Preencha os campos abaixo para pagamento</strong>
            <p>
                <mat-form-field appearance="outline" class="input-form">
                    <mat-label>
                        {{ disabled ? "Selecione pelo menos 1 filme" : "Qual o seu nome?"}}
                    </mat-label>
                    <input matInput placeholder="Seu Nome" required name="name" [disabled]="disabled === true"
                    [(ngModel)]="client.name">
                    <i class="material-icons" matSuffix required>person</i>
                    <mat-hint>Ex.: John, Maria...</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="input-form">
                    <mat-label>
                        {{ disabled ? "Selecione pelo menos 1 filme" : "Qual o seu endereço?"}}
                    </mat-label>
                    <input matInput placeholder="Seu Endereço" required name="address" 
                    [disabled]="disabled === true" [(ngModel)]="client.address">
                    <i class="material-icons" matSuffix required>home</i>
                    <mat-hint>Ex.: Rua Cloacyr,255</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="input-form">
                    <mat-label>
                        Digite a sua senha
                    </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required name="password" 
                    [disabled]="disabled === true" [(ngModel)]="client.password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [disabled]="disabled === true">
                        <i class="material-icons" matSuffix required>{{hide ? "visibility_off" : "visibility"}}</i>
                    </button>
                </mat-form-field>
            </p>
            <button type="submit" mat-flat-button class="mat-pay" (click)="payment()" 
            [disabled]="client.password === undefined || client.password === '' || totalPrice === 0">
                Pagar
            </button>
            <button mat-flat-button class="mat-cancel" (click)="cancel()">
                {{disabled ? "Voltar" : "Cancelar"}}
            </button>
        </form>
    </mat-card>
</mat-card>